@model IEnumerable<BlipDrop.ViewModels.RecordDisplayViewModel>

@{
    ViewBag.Title = "Record List";
}

<h2>Record List</h2>
<p>
    To see the dropdown lists in action, click "Create New".
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecordId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubcategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountValue)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PeriodName)
        </th>        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecordId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountValue)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PeriodName)
        </td>        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
